.add-creative-button {
    border-radius: 5px;
    border: 2px solid var(--text-color);
    display: flex;
    gap: 5px;
    outline: none;
    padding: 7px 15px;
    background-color: transparent;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
}

.disabled-button {
    border-color: var(--text-light-color);
    color: var(--text-light-color) !important;
    pointer-events: none;
}