.create-creative-wrapper {
    width: var(--drawer-width);
    position: fixed;
    left: 100%;
    padding: 25px 35px;
    top: 0;
    bottom: 0;
    transition: all 200ms ease-in;
    border: 2px solid var(--text-color);
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

form>button {
    width: max-content;
}

.close-drawer {
    transform: translateX(0%);
}

.open-drawer {
    transform: translateX(-100%);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

}