.progress-wrapper {
    margin-block: 20px;
    align-items: center;
    display: flex;
}

.progress-bar {
    width: 100%;
    max-width: 500px;
    border: 1.5px solid var(--text-color);
    height: 17px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-indicator {
    background-color: var(--text-color);
    height: 100%;

}